.nav {
  border-bottom: solid 1px;
  padding-bottom: 1rem;
}

.main {
  padding: 1rem;
}

.main-invoices {
  display: flex;
  flex-direction: column;
}

.nav-invoices {
  border-right: solid 3px;
  padding: 1rem;
  background-color: aquamarine;
}

.invoice {
  padding: 1rem;
  border-bottom: solid 1px;
}