* {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 65px;
  box-shadow: 3px 0px 2px 1.3px rgba(40, 33, 33, 0.8);
}

.logo {
  background-color: inherit;
  height: 26.22px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 21px;
}

.logo > * {
  font-family: 'Karla', sans-serif;
  background-color: inherit;
}

.logo > h4 {
  width: auto;
  font: karla;
  color: rgb(255, 255, 255);
  font-size: 20.7482px;
}

.logo > img {
  width: 31.31px;
  height: auto;
  margin: 6.69px;
}

.nav--msg {
  margin-top: 25px;
  margin-right: 37px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  background: none;
}

.nav--msg > h6 {
  font-size: 20px;
  text-align: right;
  background: inherit;
  color: rgb(255, 255, 255);
  font-family: 'Karla', sans-serif;
}