@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.quizzical {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Karla', sans-serif;
  align-items: center;
}

.topRight {
  width: 297px;
  height: 235px;
  position: absolute;
  left: 62.24%;
  right: -62.24%;
  top: 161.16%;
  bottom: -161.16%;
  background-color: #fffad1;
  transform: rotate(-128.49deg);
}

.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
}

.button {
  position: absolute;
  width: 193px;
  height: 52px;
  background: #4d5b9e;
  border-radius: 15px;
  font-family: 'Karla', sans-serif;
}
