@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.quiz {
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #262b4a;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  color: #4d5b9e;
}

.answerChecked {
  height: auto;
  padding: 5px;
  border-radius: 10px;
  width: auto;
  margin: 10px;
  cursor: pointer;
  background-color: #4d5b9e;
  border: solid #4d5b9e 2px;
  color: white;
}

.answer {
  height: auto;
  padding: 5px;
  border: solid #4d5b9e 2px;
  border-radius: 10px;
  width: auto;
  margin: 10px;
  cursor: pointer;
}

.correct {
  height: auto;
  padding: 5px;
  border-radius: 10px;
  width: auto;
  margin: 10px;
  cursor: pointer;
  background-color: #44df54;
  border: solid #44df54 2px;
  color: white;
}

.incorrect {
  height: auto;
  padding: 5px;
  border-radius: 10px;
  width: auto;
  margin: 10px;
  cursor: pointer;
  background-color: #df5644;
  border: solid #df5644 2px;
  color: white;
}

.answer:hover {
  background: #a5b1eb;
  border: solid #a5b1eb 2px;
  color: white;
}


.horizontalLine {
  border: none;
  border-bottom: 1px solid rgb(69, 68, 68);
  height: 1px;
}
