nav {
  background-color: rgb(241, 206, 161);
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > * {
  margin: 20px;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  margin: 20px;
  width: auto;
  height: auto;
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgb(241, 206, 161);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}