nav {
  height: 50px;
  display: flex;
  padding: 20px 36px;
  background-color: rgb(241, 206, 161);
  justify-content: space-between;
  width: auto;
  border-bottom: 1px solid rgb(42, 48, 45);
  overflow: hidden;
}

nav > * {
  margin: 20px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgb(241, 206, 161);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-box {
  height: 40px;
}